
<style>
  html {
      scrollbar-color: #6c6c6c #2e2e2e;
  }
  
  body {
      color: #ebebeb;
      background: #121212;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  header#banner a {
      color: #e0e0e0;
      text-decoration: none;
  }
  
  header#banner nav ul li a {
      color: #cccccc;
  }
  
  main#content a {
      color: #00b1ed;
  }
  
  main#content p {
      color: #f5f5f5;
  }
  
  main#content hr {
      background: #5c5c5c;
  }
  
  main#content #toc h4 {
      color: #d4d4d4;
  }
  
  main#content ul#posts small {
      color: #a7a7a7;
  }
  
  main#content ul#posts li a:hover {
      color: #21c7ff;
  }
  
  main#content header#post-header div {
      color: #a7a7a7;
  }
  
  a {
      color: white;
  }
      
.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    
</style>
<h2>
    <a href="/">Higanhana Documentation</a>
</h2>
<div class="container">
<div class="vertical-center",  id="tag", style="text-align: center;">
      <ul>
        {{ range .Data.Pages }}
        <li>
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>

</div>
</div>